---
const {url, title, author, pubDate} = Astro.props;
---

<a href={url} class="card">
    <h2>{title}</h2>
    <p>Written by: {author}</p>
    <p>Published on: {pubDate}</p>
</a>

<style>
    .card {
        display: block;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
    }

    .card:hover {
        background-color: #eaeaea;
    }
</style>
